<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let lastSession of lastSessionList" (click)="gotoSession(lastSession.friend)">
      <ion-avatar item-left>
        <img [src]="lastSession.friend.userimage">
      </ion-avatar>
      <h2>{{lastSession.friend.nickname}}</h2>
      <p *ngIf="lastSession.messageList[0].type==='text'">{{lastSession.messageList[0].content}}</p>
      <p *ngIf="lastSession.messageList[0].type==='images'">[图片]</p>
      <p *ngIf="lastSession.messageList[0].type==='locations'">[位置]</p>
      <p *ngIf="lastSession.messageList[0].type==='moment'">[动态]</p>
      <ion-note item-right>{{lastSession.messageList[0].time | myDatePipe}}</ion-note>
    </button>
  </ion-list>

</ion-content>
