<ion-header>
  <ion-navbar>
    <ion-title>
      请选择好友
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="confirm()" color="primary">
        确认({{chosenGroup.length}})
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let friend of friendList" (click)="addFriend(friend)">
      {{friend.nickname}}<ion-note item-right *ngIf="findByUsername(chosenGroup,friend) >= 0"><ion-icon name = "checkmark-circle"></ion-icon></ion-note>
    </button>
  </ion-list>
</ion-content>
