<ion-header>
  <ion-navbar>
    <ion-title>位置与心情</ion-title>
    <ion-buttons right>
      <button ion-button icon-right (click)="locEmotion()" color="primary">
        确认
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="mapContainer"></div>
</ion-content>

<ion-footer>
  <ion-list>
    <ion-list-header>
      当前位置
      <p hidden id="position"></p>
    </ion-list-header>
    <ion-item>
      地址
      <p id="address"></p>
    </ion-item>
    <ion-item>
      最近的路口
      <p id="nearestJunction"></p>
    </ion-item>
    <ion-item>
      <ion-label>心情</ion-label>
      <ion-select [(ngModel)]="chooseEmotion" interface="action-sheet" cancelText="取消">
        <ion-option *ngFor="let emotion of emotions" [value]="emotion.value">{{emotion.text}}</ion-option>
      </ion-select>
      <ion-icon *ngIf="chooseEmotion==='like'" name="thumbs-up" item-right></ion-icon>
      <ion-icon *ngIf="chooseEmotion==='love'" name="heart" item-right></ion-icon>
      <ion-icon *ngIf="chooseEmotion==='haha'" name="happy" item-right></ion-icon>
      <ion-icon *ngIf="chooseEmotion==='wow'" name="outlet" item-right></ion-icon>
      <ion-icon *ngIf="chooseEmotion==='sad'" name="sad" item-right></ion-icon>
      <ion-icon *ngIf="chooseEmotion==='angry'" name="thumbs-down" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-footer>
