<ion-header>

  <ion-navbar>
    <ion-title>详细信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img [src]="friend.userimage">
      </ion-avatar>
      <h2>{{friend.nickname}}</h2>
      <p>用户名：{{friend.username}}</p>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-label>分组</ion-label>
        </ion-col>
        <ion-col col-8>
          <button ion-button *ngFor="let group of groups" clear color="dark">{{group.groupname}} </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-label>地区</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{friend.location}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="momentList.length>0" (click)="gotoMoment(friend)">
        <ion-col col-2>
          <ion-label>动态</ion-label>
        </ion-col>
        <ion-col col-2>
          <div style="width:100%; padding-bottom:100%">
            <img *ngIf='momentList.length>=1&&momentList[0].images!==undefined&&momentList[0].images.length>0' [src]="momentList[0].images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
            <img *ngIf='momentList.length>=1&&momentList[0].images!==undefined&&momentList[0].images.length==0' src='http://120.25.238.161:3000/images/emotion/{{momentList[0].emotion[1]}}.png' style="position:absolute;left:0;top:0;width:98%;height:98%">
           </div>
        </ion-col>
        <ion-col col-2>
          <div style="width:100%; padding-bottom:100%">
            <img *ngIf='momentList.length>=2&&momentList[1].images!==undefined&&momentList[1].images.length>0' [src]="momentList[1].images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
            <img *ngIf='momentList.length>=2&&momentList[1].images!==undefined&&momentList[1].images.length==0' src='http://120.25.238.161:3000/images/emotion/{{momentList[1].emotion[1]}}.png' style="position:absolute;left:0;top:0;width:98%;height:98%">
           </div>
        </ion-col>
        <ion-col col-2>
          <div style="width:100%; padding-bottom:100%">
            <img *ngIf='momentList.length>=3&&momentList[2].images!==undefined&&momentList[2].images.length>0' [src]="momentList[2].images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
            <img *ngIf='momentList.length>=3&&momentList[2].images!==undefined&&momentList[2].images.length==0' src='http://120.25.238.161:3000/images/emotion/{{momentList[2].emotion[1]}}.png' style="position:absolute;left:0;top:0;width:98%;height:98%">
           </div>
        </ion-col>
        <ion-col col-2>
          <div style="width:100%; padding-bottom:100%">
            <img *ngIf='momentList.length>=4&&momentList[3].images!==undefined&&momentList[3].images.length>0' [src]="momentList[3].images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
            <img *ngIf='momentList.length>=4&&momentList[3].images!==undefined&&momentList[3].images.length==0' src='http://120.25.238.161:3000/images/emotion/{{momentList[3].emotion[1]}}.png' style="position:absolute;left:0;top:0;width:98%;height:98%">
           </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="momentList.length>0">
        <ion-col col-2>
          <ion-label>地图</ion-label>
        </ion-col>
        <ion-col col-10>
          <div (click)="gotoMomentMap()">
            <img src="http://restapi.amap.com/v3/staticmap?location=121.598457,31.190464&zoom=14&size=400*120&markers=mid,,:121.598457,31.190464&key=a55c3c970ecab69b1f6e51374a467bba">
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>



    <!--
            <ion-list>
                <ion-item>
                    <ion-label>地区</ion-label>
                    <div item-content item-left>
                        {{friend.location}}
                    </div>
                </ion-item>
                <ion-item detail-push (click)="gotoMoment(friend)">
                    <ion-label>动态</ion-label>
                    <div item-content>
                        <img src="../../assets/icon/favicon.ico">
                        <img src="../../assets/icon/favicon.ico">
                        <img src="../../assets/icon/favicon.ico">
                    </div>
                </ion-item>
                <ion-item detail-push (click)="gotoMomentMap(friend)">
                    <ion-label>地图</ion-label>
                    <div item-content>
                        <img src="../../assets/icon/favicon.ico">
                        <img src="../../assets/icon/favicon.ico">
                        <img src="../../assets/icon/favicon.ico">
                    </div>
                </ion-item>
            </ion-list>
    -->

  </ion-card>


  <div padding>
    <button ion-button color="primary" block (click)="gotoSession(friend)">发消息</button>
    <br>
    <button *ngIf="friend.username != localUser.username" ion-button color="danger" block (click)="showConfirm(friend)">删除好友</button>
  </div>
</ion-content>
