<ion-header>
  <ion-navbar>
    <ion-title>
      分组
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="editGroup(0,null)">新建分组</button>
    <ion-item-divider color="light">
      已有分组({{groups.length}})
    </ion-item-divider>
    <button ion-item *ngFor="let group of groups" (click)="editGroup(1,group)">
      <h2>{{group.groupname}}({{group.members.length}})</h2>
      <p>{{group.members[0].nickname}} ...</p>
    </button>
  </ion-list>
</ion-content>
