<ion-item *ngFor="let moment of momentList">    <!-- 每个item是一条动态-->
          <p text-wrap>{{moment.text}}</p>

          <ion-row *ngIf="moment.images!=undefined&&moment.images.length==1">
            <ion-col col-12>
                <div style="width:100%; padding-bottom:100%">
                  <img [src]="moment.images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
            </ion-col>
          </ion-row>

          <ion-grid *ngIf="moment.images!=undefined&&moment.images.length>1">
            <ion-row>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img [src]="moment.images[0]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img [src]="moment.images[1]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=3" [src]="moment.images[2]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="moment.images.length>3">
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=4" [src]="moment.images[3]"  style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=5" [src]="moment.images[4]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=6" [src]="moment.images[5]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="moment.images.length>6">
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=7" [src]="moment.images[6]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length>=8" [src]="moment.images[7]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
              <ion-col col-4>
                <div style="width:100%; padding-bottom:100%">
                  <img *ngIf="moment.images.length==9" [src]="moment.images[8]" style="position:absolute;left:0;top:0;width:98%;height:98%">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row>
              <ion-col col-8>
                   <img src='http://120.25.238.161:3000/images/emotion/{{moment.emotion[1]}}.png'>
                    <ion-note>
                      {{moment.emotion[0]}}
                    </ion-note>
              </ion-col>
              <ion-col col-4>
                  <a (click)="showDetail(moment)">detail &gt;&gt;</a>
              </ion-col>
          </ion-row>
</ion-item>